.bg-video{

    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .3;
    

    &-content{

        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}