.btn {

  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    transition: all .5s ease-in-out;
    color: #777;
    border: 0;
    position: relative;
  }

  &-white {

    background-color: white;
    color: $color-gray-dark;
  }

<<<<<<< HEAD
  &-green {


    background-color: $color-primary;
    color: $color-white;
=======
  &-green{

    background-color: $color-primary ;
    color: $color-white;
    
>>>>>>> 34a3b45a5a3a0182cfb8f6fe7739dfce8d244edf
  }




  &:is(:active, :focus, :hover) {

    transform: scale(1.1);


  }

  &-text {

    &,
    &:is(:linked, :visited) {

      text-decoration: none;
      font-size: 16x;
      color: $color-primary;
      cursor: pointer;
      text-transform: capitalize;
      padding: 3px;
      display: inline-block;
      border-bottom: 1px solid $color-primary;
      transition: all .2s ease-in-out;
    }

    &:is(:hover, :focus, :active) {

      background-color: $color-primary;
      color: white;
      transform: translateY(-2px);
      box-shadow: 0 10px 20px rgba($color-dark, .2);
    }

    &:active {

      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba($color-dark, .2);
    }
  }

  &::after {
    content: "";
    //   background-color:white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 100px;
    transition: all 0.4s ease-in-out;
    background-color: inherit;
  }


}

.btn:hover::after {
  transform: scaleX(1.4) scaley(1.6);
  opacity: 0;
}


@media all and (max-width: 768px) {

  .btn {

    padding: 15px 20px;
    font-size: 10px;
  }
}