.features-box{

    background-color: rgba($color: white, $alpha: .8);
    text-align: center;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgb($color-dark, .2);
    transition: all .3s ease-in-out;

    &:is(:hover,:active,:focus){

        transform: scale(1.05) translateY(-15px);
    }

    >i{

        display: inline-block;
        @include bgbutton;
        font-size: 60px;
        
    }
}