.story{

    background-color: rgba($color-white,.7);
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 30px 60px rgba($color-dark ,.1);
    border-radius: 3px;
    transform: skewX(-10deg);
    padding: 20px;

    > *{
        transform: skewX(10deg);
    }

    &-shape{

        width: 150px;
        height: 150px;
        clip-path: circle(50% at 50% 50%);
        float: left;
        shape-outside: circle(50% at 50% 50%);
        margin-right: 40px;
        position: relative;

        img{

            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.4);
            transition: all .4s ease-in-out;
        }
    }

    &-caption{
        position: absolute;
        left: 50%;
        top: 130%;
        z-index: 1;
        color:white;
        text-align: center;
        width: 100%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        opacity: 0;
    }


    &-details{

        h3{

            text-transform: uppercase;
            margin-bottom:25px;
            font-size: 16px;
        }


    }

    &:is(:hover,:active,:focus){

        img{
            transform: scale(1);
            filter: blur(2px) brightness(.7);
        }


    }

    &:is(:hover,:active,:focus) &-caption{

        top: 50%;
        opacity: 1;
    }
}

