@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
*, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1180px;
}

html {
  font-size: 16px;
}

body {
  font-weight: 400px;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 2rem;
}

@-webkit-keyframes moveInleft {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveInleft {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes moveInright {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes moveInright {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}
.primary-heading {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56a), to(rgba(40, 180, 133, 0.8)));
  background-image: linear-gradient(to right, #7ed56a, rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding: 10px;
  margin-bottom: 80px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.primary-heading:is(:hover, :focus, :active) {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.secondary-heading {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.para {
  font-size: 16px;
}
.para:not(:last-child) {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class^=col-] {
  padding: 0 15px;
}

.col-3 {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.col-6 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-12 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 106, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../images/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 106, 0.8), rgba(40, 180, 133, 0.8)), url(../images/hero.jpg);
  background-size: 100% 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
  height: 90vh;
}
.header .logo {
  position: absolute;
  left: 40px;
  top: 40px;
  display: inline-block;
  width: 75px;
}
.header .logo img {
  width: 100%;
}
.header-primary {
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 20px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
  -webkit-animation: moveInleft 1s ease-out;
          animation: moveInleft 1s ease-out;
}
.header-secondary {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 15px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  -webkit-animation: moveInright 1s ease-in-out;
          animation: moveInright 1s ease-in-out;
}

@media all and (max-width: 768px) {
  .header-primary {
    letter-spacing: 10px;
    font-size: 30px;
  }
  .header .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .header-secondary {
    letter-spacing: 5px;
  }
}
.imgsec {
  background-color: #f7f7f7;
  padding: 250px 0 150px;
  margin-top: -180px;
}

.section-features {
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 106, 0.8)), to(rgba(126, 213, 106, 0.8))), url(../images/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 106, 0.8), rgba(126, 213, 106, 0.8)), url(../images/nat-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -120px;
}
.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.btn {
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #777;
  border: 0;
  position: relative;
}
.btn:is(:active, :focus, :hover) {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.btn-text, .btn-text:is(:linked, :visited) {
  text-decoration: none;
  font-size: 16x;
  color: #55c57a;
  cursor: pointer;
  text-transform: capitalize;
  padding: 3px;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-text:is(:hover, :focus, :active) {
  background-color: #55c57a;
  color: white;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-text:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 100px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: inherit;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaley(1.6);
          transform: scaleX(1.4) scaley(1.6);
  opacity: 0;
}

@media all and (max-width: 768px) {
  .btn {
    padding: 15px 20px;
    font-size: 10px;
  }
}
.composition {
  position: relative;
}
.composition-img {
  width: 55%;
  border-radius: 2px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline-offset: 10px;
}
.composition-img-1 {
  left: 0;
  top: -20px;
}
.composition-img-2 {
  right: 0;
  top: 20px;
}
.composition-img-3 {
  top: 100px;
  left: 25%;
}
.composition-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 5;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  outline: 15px solid #55c57a;
}
.composition:hover .composition-img:not(:hover, :active, :focus) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.features-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 25px;
  border-radius: 3px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.features-box:is(:hover, :active, :focus) {
  -webkit-transform: scale(1.05) translateY(-15px);
          transform: scale(1.05) translateY(-15px);
}
.features-box > i {
  font-size: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56a), to(rgba(40, 180, 133, 0.8)));
  background-image: linear-gradient(to right, #7ed56a, rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}