.imgsec {
    background-color: $color-gray-ligth-1;
    padding: 250px 0 150px;
    margin-top: -180px;
}

.section-features{
    
    padding: 200px 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-light, .8)),
    url(../images/nat-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transform: skewY(-7deg);
    margin-top: -120px;

    >*{
        transform: skewY(7deg);

    }

}

.section-tours{

    padding: 250px 0 150px;
    background-color: $color-gray-ligth-1;
    margin-top: -120px;

}

.section-stories{

    padding: 150px 0;
    position: relative;
    
}